USE [Real_Music]
GO
/****** Object:  StoredProcedure [dbo].[USP_Select_Pla_Todos]    Script Date: 3/10/2024 11:51:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_Select_Pla_Todos]
as
begin
select * from Pla
end